autom4te.cache/
config.*

*.o
*.Po
*.Plo

config/
!config/*.pem
!config/*.def
!config/Makefile.am
!config/Makefile.in

Makefile
stamp-h1
libtool
version.h

src/cefnetd/cefctrl
src/cefnetd/cefnetd
src/lib/libcefore.a
src/plugin/libcef_plugin.a

tools/ccninfo
tools/cefgetchunk
tools/cefgetfile
tools/cefgetstream
tools/cefputstream
tools/cefputfile
tools/cefputstream

utils/cefnetdstart
utils/cefnetdstop
utils/cefroute
utils/cefstatus
