autom4te.cache/
config.*

*.a
*.la
*.lai
*.lo
*.so
*.so.0
*.so.0.0.0
*.so.0.0.0T
*.o
*.Po
*.Plo

config/
!config/*.pem
!config/*.def
!config/Makefile.am
!config/Makefile.in

.dirstamp
Makefile
stamp-h1
libtool
version.h

src/cefnetd/cefctrl
src/cefnetd/cefnetd
src/lib/libcefore.a
src/plugin/libcef_plugin.a

tools/csmgr/csmgrstatus
tools/ccninfo/ccninfo
tools/cefgetchunk/cefgetchunk
tools/cefgetfile/cefgetfile
tools/cefgetstream/cefgetstream
tools/cefputstream/cefputstream
tools/cefputfile/cefputfile
tools/cefputstream/cefputstream
tools/cefgetfile_sec/cefgetfile_sec
tools/cefputfile_sec/cefputfile_sec

utils/cefnetdstart
utils/cefnetdstop
utils/cefroute
utils/cefstatus
utils/csmgrdstart
utils/csmgrdstop

src/csmgrd/csmgrd/csmgrctrl
src/csmgrd/csmgrd/csmgrd
src/csmgrd/csmgrd/.libs/csmgrctrl
src/csmgrd/csmgrd/.libs/csmgrd
